import sublime, sublime_plugin

#autofresh sublime thingy (python script)
class AutoFresh(sublime_plugin.EventListener):
  def on_post_save(self, view):  
    print view.file_name(), "just got saved, updating sentinel.txt"  
    with open("/tmp/sentinel.txt", "w") as f:
      f.truncate()
      f.write("1")
      f.close()
