import sublime, sublime_plugin

#autofresh sublime thingy (python script)
#This needs to go into the user's Packages/User directory under whatever their Sublime directory is called (probably Sublime Text 2).  It writes by default to /tmp/sentinel.txt, but you can alter it to write to whatever file you like as long as you update what sentinel.php tries to write to as well.

class AutoFresh(sublime_plugin.EventListener):
  def on_post_save(self, view):  
    print view.file_name(), "just got saved, updating sentinel.txt"  
    with open("/tmp/sentinel.txt", "w") as f:
      f.truncate()
      f.write("1")
      f.close()
